# SPDX-License-Identifier: MIT
# Copyright (c) 2026 jkontiokoski
---
Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 8
TabWidth: 8
UseTab: ForIndentation
ContinuationIndentWidth: 8
BreakBeforeBraces: Attach
IndentCaseLabels: false
PointerAlignment: Right
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignTrailingComments: true
InsertBraces: true
IncludeBlocks: Preserve
SortIncludes: CaseSensitive
SpaceAfterCStyleCast: false
...
